@import "tailwindcss";

.max{
    @apply absolute top-0 left-0 m-0 inset-0 w-full h-full select-none;
}

.title-text{
    @apply text-white text-5xl sm:text-7xl italic font-serif select-none;
}

#babylonjsLoadingDiv-0{
    display: none!important;
}
.textalive-banner.hidden{
    display: none!important;
}

#loading-wrapper{
    z-index: 10001;
}

.event-button{
    @apply w-20 sm:w-30 px-4 text-white text-2xl flex items-center justify-center border border-transparent cursor-pointer;
    transition: border-color 500ms;
}
.event-button:hover{
    @apply border-white;
}
.event-button:active{
    @apply bg-white;
}

#orientation-warning{
    z-index: 10002;
}
